.servicesButton {
	display: flex;
	align-items: center;
	justify-content: center;
    width: 100%;
    height: 100%;
	background-color: var(--color-my-white);
	color: var(--color-my-black);
	line-height: 120%;
	text-transform: capitalize;
	letter-spacing: 3px;
	border-radius: 50%;
	text-align: center;
	transition-duration: 300ms;
	aspect-ratio: 1;
	cursor: pointer;

	&:hover {
		color: var(--color-my-white);
		background-color: var(--color-my-pink);
	}
}
