@font-face {
  font-family: 'Local-Icons';
  src: url('../icons/Local-Icons.ttf?kh20br') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="cmsms-demo-icon-"], [class*=" cmsms-demo-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Local-Icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cmsms-demo-icon-arrow-down:before {
  content: "\e900";
}
.cmsms-demo-icon-arrow-left:before {
  content: "\e901";
}
.cmsms-demo-icon-arrow-right:before {
  content: "\e902";
}
.cmsms-demo-icon-arrows:before {
  content: "\e903";
}
.cmsms-demo-icon-arrow-up:before {
  content: "\e904";
}
.cmsms-demo-icon-calendar:before {
  content: "\e905";
}
.cmsms-demo-icon-cancel:before {
  content: "\e906";
}
.cmsms-demo-icon-cart:before {
  content: "\e907";
}
.cmsms-demo-icon-check:before {
  content: "\e908";
}
.cmsms-demo-icon-icon-1:before {
  content: "\e909";
}
.cmsms-demo-icon-icon-2:before {
  content: "\e90a";
}
.cmsms-demo-icon-icon-3:before {
  content: "\e90b";
}
.cmsms-demo-icon-icon-4:before {
  content: "\e90c";
}
.cmsms-demo-icon-icon-5:before {
  content: "\e90d";
}
.cmsms-demo-icon-icon-6:before {
  content: "\e90f";
}
.cmsms-demo-icon-location:before {
  content: "\e910";
}
.cmsms-demo-icon-phone:before {
  content: "\e911";
}
.cmsms-demo-icon-search:before {
  content: "\e912";
}
.cmsms-demo-icon-star:before {
  content: "\e913";
}
.cmsms-demo-icon-time:before {
  content: "\e914";
}
.cmsms-demo-icon-menu:before {
  content: "\e90e";
}
