.item {
	.overlay {
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 0;
		background-color: #000;
		transition-duration: 500ms;
	}

	.content {
		opacity: 0;
		z-index: -1;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -40;
		display: flex;
		flex-direction: column;
		gap: 25px;
		justify-content: center;
		align-items: center;
	}

	&:hover {
		.overlay {
			opacity: 0.5;
		}

		.content {
			opacity: 1;
            z-index: 1;
			bottom: 40;
			transition-duration: 500ms;
		}
	}
}
