@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
	--content-font: 'Figtree', sans-serif;
	--headline-font: 'Playfair Display', sans-serif;
	--allison-font: 'Allison', sans-serif;
	--color-my-black: #40372c;
	--color-my-white: #ffffff;
	--color-my-gray: #949494c2;
	--color-my-light-gray: #afacac;
	--color-my-green: #66715f;
	--color-my-pink: #c08a99;
	--color-my-dark-pink: #e1cad0;
	--color-my-light-pink: #ebdfdc;
	--color-my-beige: #e9e2d7;
	--color-my-light-beige: #faf5ec;
	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
}

.dark {
	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

body {
	font-family: var(--content-font);
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: var(--color-my-black);
	background-color: var(--color-my-white);
}

@media screen and (min-width: 1025px) {
	body {
		font-size: 18px;
	}
}

.page-wrapper {
	max-width: 1340px;
	margin: 0 auto;
}

.headline-font {
	font-family: var(--headline-font);
}

.allison-font {
	font-family: var(--allison-font);
	color: var(--color-my-pink);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--headline-font);
	font-weight: 500;
}

h1 {
	font-size: 50px;
	line-height: 120%;
}

h2 {
	font-size: 44px;
	line-height: 120%;
}

h2 .allison-font {
	font-size: 70px;
}

h3 {
	font-size: 32px;
	line-height: 120%;
}

h4 {
	font-size: 24px;
	line-height: 120%;
}

h5 {
	font-size: 30px;
}

h6 {
	font-size: 24px;
}

@media screen and (min-width: 768px) {
	h1 {
		font-size: 68px;
	}

	h2 {
		font-size: 64px;
	}

	h3 {
		font-size: 54px;
	}

	h4 {
		font-size: 32px;
	}

	h2 .allison-font {
		font-size: 100px;
	}
}

@media screen and (min-width: 1025px) {
	h1 {
		font-size: 100px;
	}

	h2 {
		font-size: 72px;
	}

	h4 {
		font-size: 40px;
	}
}

@media screen and (min-width: 1280px) {
	h1 {
		font-size: 120px;
	}
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

button {
	height: 42px;
	font-weight: 500;
	cursor: pointer;
	font-size: 12px;
	letter-spacing: 1px;
}

@media screen and (min-width: 768px) {
	button {
		font-size: 15px;
	}
}

input {
	height: 46px;
	padding: 11px 0;
}

textarea {
	width: 100%;
	height: 120px;
	padding: 11px 0;
}

input,
textarea {
	border-bottom: 1px solid var(--color-my-white);
}

input:focus,
textarea:focus,
input:focus-visible,
textarea:focus-visible {
	outline: none;
}

::placeholder {
	font-size: 14px;
}

:focus,
:focus-visible {
	outline: none;
}

/* =======================================================
* HEADER START
* ======================================================= */

.desktop-menu {
	display: none;
}

@media screen and (min-width: 1025) {
	.desktop-menu {
		display: flex;
	}
}

/* =======================================================
* HEADER END
* ======================================================= */

/* =======================================================
* GO TO TOP START
* ======================================================= */

.gototop {
	position: fixed;
	bottom: 50px;
	right: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	color: #fff;
	background-color: var(--color-my-gray);
	border-radius: 50%;
	cursor: pointer;
	z-index: 100;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

.gototop:hover {
	background-color: #fff;
	color: var(--color-pink);
}

/* =======================================================
* GO TO TOP END
* ======================================================= */
